
@keyframes glitch-anim-1 {
  0% {
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    transform: scale3d(0.975, 0.9875, 0.989);
  }
  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    transform: scale3d(1.042, 1.034, 1.069);
  }
}

@keyframes glitch-anim-2 {
  100% {
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    transform: scale3d(0.969, 0.9875, 0.989);
  }
  90% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  80% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  70% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  60% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  40% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  20% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  10% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  0% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    transform: scale3d(1.042, 1.034, 1.069);
  }
}

@keyframes glitch-anim-bg {
  0% {
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    transform: scale3d(0.975, 0.9875, 0.989);
    filter: invert(100%);
  }
  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    transform: scale3d(1.000, 1.000, 1.000);
    filter: hue-rotate(0);
    -wekit-filter: invert(0);
  }
}
