:root {
  --color-darkest:      #0E1E35;
  --color-background:   #08365E;
  --color-background-a: #08365ED9;
  --color-alternative:  #0A507F;
  --color-accent:       #FB2FBC;
  --color-accent2:      #2ACCE6;
  --color-light:        #95C3D0;
  --color-lightest:     #E3ECF1;

  --background-image: url(/images/backgrounds/1.jpg);
}

@import "./animations.css";

html {
  height: 100%;
  background-color: var(--color-background);
  background-image: var(--background-image);
  background-position: left +33% center;
  background-size: cover;
  color: var(--color-lightest);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  margin: initial;
  padding: initial;
  height: 100%;
}

.padding {
  padding: 24px 60px;
}

.header__logo {
  margin: 0;
  font-size: 48px;
  line-height: 1.05em;
  font-weight: 100;
}

.logo {
  display: inline-block;
}

.logo__gradient {
  background-color: var(--color-lightest);
  background-image:
    linear-gradient(
      -204deg, var(--color-accent), rgba(255,0,0,0)  62.12%
    ),
    linear-gradient(
      -326deg, var(--color-accent2), rgba(0,0,255,0) 80.71%
    );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo__small {
  display: inline-block;
  line-height: 1;
  font-size: 0.75em;
  font-weight: 150;
  opacity: 0.8;
  white-space: nowrap;
}

.logo__glitch {
  position: relative;
}

.logo__glitch::before,
.logo__glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  display: inline-block;
  opacity: 0;
  transition: opacity 0s linear;

}

.logo__glitch::before {
  animation-duration: 0.69s;
  color: cyan;
  top: -0.2em;
}

.logo__glitch::after {
  animation-duration: 1.034s;
  color: magenta;
  top: 0;
}

.logo:hover .logo__glitch::before,
.logo:hover .logo__glitch::after {
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.logo:hover .logo__glitch::before {
  animation-name: glitch-anim-1;
}

.logo:hover .logo__glitch::after {
  animation-name: glitch-anim-2;
}

.main {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.main__content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.main__header {
  flex-shrink: 0;
}

.main__video {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -34px;
}

.main__counter {
  position: absolute;
  top: -1.75em;
  right: 0;
  font-size: 0.825em;
  opacity: 0.375;
  transition: opacity 0.3333s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.video__wrapper:hover .main__counter {
  opacity: 1;
  transition: opacity 0s linear;
}

.main__chat {
  width: 380px;
  flex-shrink: 0;
  flex-basis: 380px;
}

.video__wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.video__wrapper {
  background-image: url(/images/noise.gif);
  background-size: cover;
}

.video__wrapper::before,
.video__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-image: url(/images/stayTuned.jpg);
  background-size: cover;
  pointer-events: none;
  animation-name: glitch-anim-bg;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
  opacity: 0.634;
}

.video__wrapper::before {
  animation-duration: 2.69s;
  animation-fill-mode: both;
}

.video__wrapper::after {
  animation-duration: 4.34s;
  animation-fill-mode: revert;
}

.playing .video__wrapper {
  background-image: none;
}

.playing .video__wrapper::before,
.playing .video__wrapper::after {
  display: none;
}

.video {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

#chatbro {
  height: 100%;
}

/* #chatbro.chatbro_container *:not() {
  font-family: inherit !important;
} */

#chatbro .chatbro_chat {
  height: 100% !important;
}

#chatbro .chatbro_messages_space,
#chatbro .chatbro_messages_block,
#chatbro .chatbro_messages_wrapper {
  background-color: transparent !important;
}

#chatbro .chatbro_messages_wrapper,
#chatbro .chatbro_header {
  background-color: var(--color-background) !important;
  background-color: var(--color-background-a) !important;
  -webkit-backdrop-filter: blur(36px);
}

#chatbro .chatbro_header {
  height: 0 !important;
}

#chatbro .chatbro_header_button {
  display: block;
  position: absolute;
  top: 0;
  left: -36px;
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent !important;
}

#chatbro .chatbro_header_button:hover {
  background-color: rgba(8, 41, 70, 0.85) !important;
}

#chatbro .chatbro_chat_name {
  display: none !important;
}


@media (max-width: 736px) {

  html {
      background-image: none;
  }

  .padding {
      padding: 0;
  }

  .main {
      flex-direction: column;
      overflow: hidden;
      height: 100%;
      flex: 1 1 100%;
  }

  .main__content {
      flex: 0 0 auto;
  }

  .main__video {
      margin: 0;
      flex-grow: 0;
  }

  .main__counter {
    display: block;
    padding: 0 0.5em;;
  }
  
  .main__counter-text {
    display: none;
  }

  .header__logo {
      font-size: 10vw;
      padding: 1.5vh 4vw;
      text-align: center;
  }

  .main__chat {
      width: 100%;
      flex-grow: 1;
      flex-basis: initial;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-content: stretch;
  }

  #chatbro {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  }

  #chatbro .chatbro_header_button {
      display: none;
  }

  #chatbro .chatbro_chat {
      flex-grow: 1;
      height: auto !important;
      min-height: 50vh;
      display: flex;
      flex-direction: row;
  }
}
